In [1]:
import pandas as pd

In [2]:
file = "bananas.xlsx"

In [4]:
xl = pd.ExcelFile(file)

In [6]:
print(xl.sheet_names)

['Bananas']

In [7]:
xl

In [10]:
df = xl.parse("Bananas")

In [11]:
df

,"Bananas—Average retail price per pound and per cup equivalent, 2016",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Form,Average retail price,NaN,Preparation,Size of a,NaN,Average price
1,NaN,NaN,NaN,yield factor,cup equivalent,NaN,per cup equivalent
2,Fresh1,0.549417,per pound,0.64,0.330693,pounds,0.283889
3,1The USDA National Nutrient Database for Stand...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Source: Calculated by USDA, Economic Research ...",NaN,NaN,NaN,NaN,NaN,NaN