In [12]:
from sqlalchemy import create_engine
import pandas as pd

In [13]:
engine = create_engine("sqlite:///Chinook.sqlite")

In [14]:
table_names = engine.table_names()

In [15]:
print(table_names)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

In [16]:
con = engine.connect()

In [17]:
rs = con.execute("SELECT * FROM Album")

In [18]:
print(rs)

<sqlalchemy.engine.result.ResultProxy object at 0x000001E526D66F28>

with engine.connect() as con:
    rs = con.execute("SELECT LastName, Title FROM Employee")
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

print(len(df))

print(df.head())

In [23]:
with engine.connect() as con:
    rs = con.execute("SELECT Title, Name FROM Album INNER JOIN Artist on Album.ArtistID = Artist.ArtistID")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

In [24]:
print(df.head())

                                   Title       Name
0  For Those About To Rock We Salute You      AC/DC
1                      Balls to the Wall     Accept
2                      Restless and Wild     Accept
3                      Let There Be Rock      AC/DC
4                               Big Ones  Aerosmith